/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }


  html {
    scroll-behavior: smooth;
    scroll-padding-top: 12%;
  }

/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .homevideo {
    height: 100%; }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: rgba(0, 0, 0, 0.664); 
  color: black !important;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color:rgba(0, 0, 0, 0.685); } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; 
}

  html {
    scroll-behavior: smooth;
  }

  #box-icon{
    background-color:rgba(109, 109, 109, 0.137);
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
  }
